h1{
  color: white;
  position:fixed;
  font:"Bodoni 72 Smallcaps";
  top:30px;
  left:100px;
  right:100px;
  text-align: center;
  font-size: 70px;
  z-index:10;
}

body{
  /*background-image:linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.8)),url(tree.jpg);*/
  font-family: "Bodoni 72 Smallcaps","Bodoni 72";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  color:white;
  background: url("sea2.JPG");
  background-repeat:repeat-y;
  background-size:cover;
}
p.body{
  position:absolute;
}
#words{
  font-family: "Bodoni 72 Smallcaps";
  font-size: 24px;
}
h2{
  position:absolute;
  opacity:1;
  top:260px;
  left:65%;
  right:12%;
  font-size: 36px;
  z-index:7;
  color: #003C20;
}
.container h3{
  padding:10px 20px;
  font-size: 40px;
  font-family: "Bodoni 72 Smallcaps"
}
.container{
  position:absolute;
  top:560px;
  left:10%;
  right:10%;
  z-index:8;
}

.container img{
  width:200px;
}

.row1{
  display:flex;
  z-index: 12;
}
.column1{
  flex:25%;
}
.row2{
  display:flex;
}
.column2{
  flex:25%;
  width:200px;
  color:#003C20;
  font-family: "Bodoni 72"
  color:white;
}
.column3{
  flex:25%;
}

.row3{
  display:flex;
}
span{
  font-family:"Bodoni 72";
  font-size: 20px;
}

#sea2{
  position:absolute;
  left:0;
  right:0;
  top:0px;
  bottom:0;
  opacity:0.8;
  z-index:3;
  max-width: 100%
}

#tree2{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  opacity: 0.5;
  z-index:1;
  resize:50%;
}

#mangr{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:160px;
  z-index:9;
}
/*tab*/
#box1{
  position: fixed;
	top: 160px;
	left: 0;
	width: 100%;
	height: 60px;
	background: #003C20;
  opacity:1;
  z-index:9;
}
/*green transparent*/
#box2{
  position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 160px;
	background: #003C20;
  opacity:0.2;
  z-index:9;
}
/*white back*/
#box3{
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  height:220px;
	background: white;
  opacity:1;
  z-index:2;
}
/*white title*/
#box4{
  position: absolute;
  top:260px;
  left:0px;
  right:10%;
  height:80px;
	background: white;
  opacity:0.9;
  z-index:6;
}
/*vid textbox*/
#box5{
  position: absolute;
  top:280px;
  left:60%;
  right:7%;
  height:264px;
	background: #003C20;
  opacity:0.9;
  z-index:5;
  padding: 20px;
  color:white;
  font-size: 20px;
  text-align: center;
  font-family:"Bodoni";
}
/*white trans background*/
#box6{
  position: absolute;
  top:0;
  left:0;
  right:0;
  height:0;
	background: white;
  opacity:0.5;
  z-index:4;
}
/*white box*/
#box7{
  position: absolute;
  top:620px;
  left:7%;
  right:10%;
  height:400px;
	background: white;
  opacity:0.5;
  z-index:4;
}
/*green title*/
#box8{
  position: absolute;
  top:600px;
  left:10%;
  right:0px;
  height:60px;
	background: #003C20;
  opacity:0.9;
  z-index:6;
}


pre {
  font-family: "Bodoni 72";
  text-align: center;
  z-index:10;
}

.tab {
  position: fixed;
	top: 154px;
	left: 100px;
  right: 100px;
  z-index:10;
  font-size: 24px;
  color: white;
  opacity: 1;
}
pre span{
  font-family: "Bodoni 72 Smallcaps";
  text-decoration:underline;
}

/*.container img{
  padding:30px;
  width:150px;
}
.container text{
  padding:30px;
  width:150px;
}*/

a{
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration:underline;
}

#video{
  z-index:7;
  position:absolute;
  top:280px;
  left:10%;
  right:45%;
}
