h1, h2{
  color: #003C20;
  position:fixed;
  font:"Bodoni 72 Smallcaps";
  top:30px;
  left:100px;
  right:100px;
  text-align: center;
  font-size: 70px;
  z-index:6;
}

body{
  /*background-image:linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.8)),url(tree.jpg);*/
  font-family: "Bodoni 72 Smallcaps", "Bodoni 72";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

#tree{
  position:absolute;
  left:0;
  right:0;
  top:0px;
  bottom:0;
  opacity:0.2;
  z-index:3;
  max-width: 100%
}

#sea{
  position:absolute;
  top:240px;
  left:200px;
  right:200px;
  bottom:100px;
  opacity: 1;
  z-index:1;
  resize:50%;
}

#box1{
  position: fixed;
	top: 180px;
	left: 200px;
  right:200px;
	height: 60px;
	background: #003C20;
  opacity:0.9;
  z-index:4;
}

#box3{
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  height:240px;
	background: white;
  opacity:1;
  z-index:2;
}
pre {
  font-family: "Bodoni 72";
  text-align: center;
  z-index:5;
}

.tab {
  position: fixed;
	top: 174px;
	left: 100px;
  right: 100px;
  z-index:5;
  font-size: 24px;
  color: white;
}

a{
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration:underline;
}
